<table><tr>
<td>
<!--{if ($cpl[34]) }--><img src="img/ach/34.png"><!--{else}--><img src="img/achievement_not_done.gif"><!--{/if}-->
</td>
<td valign="top" align="left">
<b>
<!--{if ($cpl[34]=='0') }-->不死者的毁灭者<!--{/if}-->
<!--{if ($cpl[34]=='999') }-->不死者的毁灭者<!--{/if}-->
</b>
<!--{if ($cpl[34]=='999') }--><span class="lime">[完成]</span><!--{else}--><span class="red">[未完成]</span><!--{/if}--><br>
<font color="yellow">完成次数： {$prc[34]}次<br></font>
<font color="olive">奖励： 积分28888 切糕2888 <span class="evergreen">称号 Dr. Clef</span><br></font>击破任意一只SCP样本<br>
</td>
</tr></table>
