<table><tr>
<td>
<!--{if ($cpl[41]) }--><img src="img/ach/D.gif"><!--{else}--><img src="img/achievement_not_done.gif"><!--{/if}-->
</td>
<td valign="top" align="left">
<b>
<!--{if ($cpl[41]=='0') }-->作死专家<!--{/if}-->
<!--{if ($cpl[41]=='999') }-->没救的人<!--{/if}-->
</b>
<!--{if ($cpl[41]) }--><span class="lime">[完成]</span><!--{else}--><span class="red">[未完成]</span><!--{/if}--><br>
<font color="yellow">击破次数： $prc[41]次<br></font>
<font color="olive">奖励： 积分 88 切糕 88 <span class="evergreen">称号 萌妹推倒者</span><br></font> 
击破生气的亚莉丝<br>
</td>
</tr></table>