<table><tr>
<td>
<!--{if ($cpl[42]) }--><img src="img/ach/D.gif"><!--{else}--><img src="img/achievement_not_done.gif"><!--{/if}-->
</td>
<td valign="top" align="left">
<b>
<!--{if ($cpl[42]=='0') }-->姐妹丼<!--{/if}-->
<!--{if ($cpl[42]=='999') }-->姐妹丼<!--{/if}-->
</b>
<!--{if ($cpl[42]) }--><span class="lime">[完成]</span><!--{else}--><span class="red">[未完成]</span><!--{/if}--><br>
<font color="yellow">击破次数： $prc[42]次<br></font>
<font color="olive">奖励： 积分 88 切糕 88 <span class="evergreen">称号 巫女狩猎</span><br></font> 
击破任意一名杀戮巫女<br>
</td>
</tr></table>