<table><tr>
<td>
<!--{if ($cpl[40]) }--><img src="img/ach/40.gif"><!--{else}--><img src="img/achievement_not_done.gif"><!--{/if}-->
</td>
<td valign="top" align="left">
<b>
<!--{if ($cpl[40]=='0') }-->仰望星空<!--{/if}-->
<!--{if ($cpl[40]=='999') }-->百年孤独<!--{/if}-->
</b>
<!--{if ($cpl[40]=='999') }--><span class="lime">[完成]</span><!--{else}--><span class="red">[未完成]</span><!--{/if}--><br>
<font color="yellow">完成次数： {$prc[40]}次<br></font>
<font color="olive">奖励： 积分8888 切糕8888 <span class="evergreen">称号 抑制者</span><br></font>吃下鱼头派，洞察真相<br>
</td>
</tr></table>
