<table><tr>
<td>
<!--{if ($cpl[37]) }--><img src="img/ach/37.gif"><!--{else}--><img src="img/achievement_not_done.gif"><!--{/if}-->
</td>
<td valign="top" align="left">
<b>
<!--{if ($cpl[37]=='0') }-->自私的基因<!--{/if}-->
<!--{if ($cpl[37]=='999') }-->暗夜行路<!--{/if}-->
</b>
<!--{if ($cpl[37]) }--><span class="lime">[完成]</span><!--{else}--><span class="red">[未完成]</span><!--{/if}--><br>
<font color="yellow">击破次数： $prc[37]次<br></font>
<font color="olive">奖励： 积分 213 切糕 213 <span class="evergreen">称号 银白学者</span><br></font> 
击破埃尔兰卡<br>
</td>
</tr></table>
