<table><tr>
<td>
<!--{if ($cpl[43]) }--><img src="img/ach/43.gif"><!--{else}--><img src="img/achievement_not_done.gif"><!--{/if}-->
</td>
<td valign="top" align="left">
<b>
<!--{if ($cpl[43]=='0') }-->可爱男孩子也可以(？)<!--{/if}-->
<!--{if ($cpl[43]=='999') }-->颠覆生死的丽人<!--{/if}-->
</b>
<!--{if ($cpl[43]) }--><span class="lime">[完成]</span><!--{else}--><span class="red">[未完成]</span><!--{/if}--><br>
<font color="yellow">击破次数： $prc[43]次<br></font>
<font color="olive">奖励： 积分 88 切糕 88 <span class="evergreen">称号 幽灵驱逐者</span><br></font> 
击破数纳 步<br>
</td>
</tr></table>
