<table><tr>
<td>
<!--{if ($cpl[39]) }--><img src="img/ach/39.gif"><!--{else}--><img src="img/achievement_not_done.gif"><!--{/if}-->
</td>
<td valign="top" align="left">
<b>
<!--{if ($cpl[39]=='0') }-->旧日记忆<!--{/if}-->
<!--{if ($cpl[39]=='999') }-->死神永生<!--{/if}-->
</b>
<!--{if ($cpl[39]=='999') }--><span class="lime">[完成]</span><!--{else}--><span class="red">[未完成]</span><!--{/if}--><br>
<font color="yellow">完成次数： {$prc[39]}次<br></font>
<font color="olive">奖励： 积分8888 切糕8888 <span class="evergreen">称号 回归者</span><br></font>读取虚子的记忆，重启幻境<br>
</td>
</tr></table>
