{template header}
<br>
<font size="2" color="white">
<p>
——————————————<br>
<div><span class=yellow>更新日志（2015.1月上旬）：</span><br>
<span class=seagreen>技能：</span><br>
·削弱了锡安成员和怪物猎人<br>
·略微强化了踏雪无痕（但PVE党请注意“忍术”技能的改变）<br>
·调整了见敌必斩的5技能<br>
·大幅强化了亡灵骑士的技能<br>
——————————————<br>
<span class=seagreen>NPC：</span><br>
·恢复了礼品盒会开出鲤鱼的设定（此鲤已非彼鲤）<br>
·添加了新的真职人<del>【金皮卡】</del>【比利·海灵顿】<br>
——————————————<br>
<span class=seagreen>宝石：</span><br>
·添加宝石魔法系统 <a href="http://lg.dianbo.me/help.php#宝石魔法系统"><span class=gem>具体请点这里</span></a><br>
·更新魔石匣，可以100%开出魔法宝石，二禁后商店出售<br>
——————————————<br>
<span class=seagreen>合成：</span><br>
·大幅度降低了与魔法宝石相关物品合成的难度。<br>
·添加了【221】与<del>【金皮卡】</del>【比利·海灵顿】<br>身上防具相关的合成。<br>
·添加了伤害制御防具【三重冕】的合成。<br>
——————————————<br>
<span class=seagreen>属性：</span><br>
·添加了【诅咒】与【灵魂绑定】属性。<br>
——————————————
</p>
<p>
——————————————<br>
<div><span class=yellow>更新日志（2015.1月下旬）：</span><br>
<span class=seagreen>技能：</span><br>
·添加了新称号奥秘学者，详情查看游戏帮助<br>
·添加了奥秘学者相关技能<br>
·修正了【走路萌物】称号也能成为奥秘学者的问题<br>
——————————————<br>
<span class=seagreen>NPC：</span><br>
·修改了【比利·海灵顿】武器属性<br>
——————————————<br>
<span class=seagreen>宝石：</span><br>
·添加了新的宝石【白欧泊石】，具体效果请在游戏帮助中查看<br>
·加强了【红宝石】的效果，具体效果请在游戏帮助中查看<br>
·去掉了开局发送的盒子，调整了宝石进化武器二阶段的属性<br>
·修正了悲叹之种可以吃多次的问题<br>
·删除了宝石匣中开出道具的【灵魂绑定】属性<br>
·重做了宝石魔法武器的属性及进化方式，现在第一次进化的条件为累计受到一定的反噬伤害。<br>
——————————————<br>
<span class=seagreen>属性：</span><br>
·修正了【诅咒】属性的装备可以被替换的问题<br>
——————————————
</p>
<p>
<div><span class=yellow>更新日志（2015.2月初）：</span><br>
<span class=seagreen>技能：</span><br>
·修改了群众<del>喜闻乐见</del>的恐怖分子<br>
·替换了见敌必斩的19级技能并调整了部分NPC的数据<br>
·将NPC上帝的左手的称号修正为见敌必斩<br>
·调整了坑爹的剑刃风暴技能，换上了一个更坑爹的技能？<br>
·为富家子弟增加了将佣兵移动到身边的功能<br>
——————————————<br>
<span class=seagreen>称号：</span><br>
·走路萌物在使用技能点治疗异常属性时无法治疗特殊异常属性<br>
——————————————<br>
<span class=seagreen>头衔：</span><br>
·添加了贤者头衔【不动的大图书馆】<br>
——————————————<br>
</p>
<p>
<div><span class=yellow>更新日志（2015.2月上旬）：</span><br>
<span class=seagreen>属性：</span><br>
·添加了【吸血】属性<br>
·添加了【成长】属性<br>
·将【吸血】属性击杀敌人恢复生命体力的属性改为25%概率触发<br>
——————————————<br>
<span class=seagreen>武器：</span><br>
·添加了新的进化武器路线【吸血虫】<br>
·修改了【吸血虫】一阶的进化方式<br>
——————————————<br>


<div><span class=yellow>更新日志（2015.2月上旬）：</span><br>
<span class=seagreen>道具：</span><br>
<a href="./help.php#枪械相关">·添加了拆枪拼抢系列道具（你点我一下看看）</a><br>
·拆枪现在可以拆带一发的枪械了<br>
·目前扩充词库内容中，欢迎投食，假装是元宵节活动吧（笑<br>
</font>
</div>
</p>
</font></div>

{template footer}