<input type="hidden" name="mode" value="item">
<input type="hidden" name="usemode" value="easybuyitem">
欢迎使用天蛙公司产品！您想买点啥？运费每次100gem，不包邮亲！<br>
<br>
<input type="radio" name="bin" id="back"  value="back"><a onclick=sl('back'); href="javascript:void(0);" >再买我就剁手！ </a><br>
<input type="radio" name="bin" id="anya"  value="anya"><a onclick=sl('anya'); href="javascript:void(0);" >【安雅人体冰雕/特殊/1/1】5000元 </a><br>
<input type="radio" name="bin" id="zhenxian"  value="zhenxian"><a onclick=sl('zhenxian'); href="javascript:void(0);" >【针线包/特殊/1500/1】1500元 </a><br>
<br>
<input type="button" class="cmdbutton" name="submit" value="下单！" onclick="postCmd('gamecmd','command.php');this.disabled=true;"><br>