			</div>
		</td>
	</tr>
</table>
</center>
<div width="100%">
	
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td colspan="4"><hr></td>
		</tr>
		<tr>
			<td colspan="4">
				<div>
					<a href="http://en.wikipedia.org/wiki/Wikipedia:CC-BY-SA"><img src="img/cc-by-sa.png" style="width:96px;height:32px;"></a>
				</div>
				<div>
					深渊BR大逃杀之源代码遵循 <a class="evergreen" href="http://en.wikipedia.org/wiki/Wikipedia:CC-BY-SA">知识共享 署名-相同方式共享 3.0协议</a>；<br>游戏背景、剧情及原创角色设定遵循 <b class="evergreen">知识共享 署名-非商业性使用-相同方式共享 3.0协议</b>。
				</div>
			</td>
		</tr>
		<tr><td style="height:15px"></td></tr>
		<tr valign="top">
			<td colspan="2">
				<p style="text-align: left" id="error">
					$error
				</p>
			</td>
			<td colspan="2">
				<div class="ver" style="text-align:right">
					<a>深渊BR大逃杀 $gameversion by 亚莉丝</a><br>
					<a>ACFUN大逃杀 GE710L by 冴月 麟</a><br>
					<a>生存游戏 - BRA简体版V3.0.2 translated by 龙游网Azazil</a><br>
					<a href="http://www.b-r-u.net/">BRU (Battle Royale Ultimate) V0.22</a>
				</div>
				
			</td>
		</tr>
	</table>
</div>
</body>
</html>
