{template header}




<div class="subtitle" >{lang gamestart}</div>
<p align="center">
张开眼睛后，发现自己在一个像教室的地方。我不是应该去了修学旅行吗···？<br>
「对了，在去修学旅行的游轮登岛中忽然睡意袭来···」<br>
纵览四周，看见其他的学生好像也在。用心地看的话，发现了大家的颈上套上了银色项圈，<br>
用手碰自己的颈，也感觉到冷冷的金属触感。<br>
正在疑惑大家为什么都套上同样的那个银色项圈的时候...<br><br>
突然，从前面的门，一个笑容可掬的巫女带着一群全副武装的军人走了进来···<br><br>
<img border="0" src="./img/miko.gif" width="70" height="70"><br><br>
「大家好，很高兴见到你们。我是巫女米可。<br>
随着时间日子人民越来越安于现状，过着幸福日子的时候，相信各位已经忘记了国家曾多努力多辛苦才能建成今天的社会地位，<br>
如今国家开始衰退，想再振兴，但人们已经再没有自信，这是很危险的。因此，伟大的人们商量制定了某个计划。<br>
而这个四面环海的荒岛，就是这个秘密计划的实行场所，虽然原先是你们学校的分校啦。<br>
然而咱们有一个小小的误算，那就是没想到消息没有及时送达，导致没能阻止某学校把这里定为修学旅行的目的地。<br>
你猜，知悉了国家机密的各位会受到什么处置呢？<br>
上层做了一个很有意思的决定哟～<br><br>
</p>
<p align="center">
<font color="#ff0000" face="黑体" size="7">
<span id="br" style="width:100%;filter:blur(add=1,direction=135,strength=9):glow(strength=5,color=gold); font-weight:700; text-decoration:underline">
■ BATTLE ROYALE ■</span></font></p><br>
大家将以一种特殊的方式为这个计划做出贡献，以游戏的方式参与进来哟————<br>
大家看看，米可手上拿着的针剂，这个会是什么呢？<br>
哇～这可是我们秘密开发的能够激发人体潜能,使人获得超越常人甚至不可思议力量的觉醒剂哦～<br>
效果强大到连米可都感到害怕呢……好厉害的哟。<br>
今天起开始，在这里诸位要接受这个试验觉醒剂的注射然后开始互相追逐、杀害对方来检验其性能。<br>
这对觉醒剂的实验是必须的。<br>
如果你想取下那个项圈，尝试打算逃走的话，你将会立即被杀。<br><br>
直到剩下一人生存为止，乖乖遵守别犯规。<br>
哎呀，老师，说的就是你，你也要参加哟。<br><br>
人家会一直在这里看着各位努力。<br><br>
那么，开始说这个计划如何执行。你从这里出去后去哪里也可以。<br>
每天8小时 (0点和8点和6点)，做全岛广播。一日三回。<br><br>
在那里，大家会看到地图，这个区域什么时候危险人家会好好告知。<br>
好好地了解地图，离开那一个区域，<br>
要很快地从那个区域出来喔。<br><br>
为何会这样说呢，不逃离广播危险区域的范围，那个项圈是会爆炸的。<br><br>
因此呀，潜伏在该区域中的建筑物中也是不行。<br>
就算挖洞隐藏无线电波也会找到你引爆喔。<br>
对了，建筑物平常是可以让你任意隐藏的。<br><br>
但还是你要知道。计划有时间限制。你只有<b><font color="red">一天</font></b>时间去完成。<br><br>
时间够如果还留下不止一人，剩下的那些人的项圈一样会爆炸。因为冠军只能够存活<u>—人</u>。<br><br>
既然参加了游戏就要全力以赴，米可不想看到一个胜利者都没有呢！<br>
你们每个人将被派发到一个物品包，里面有食物和水，指南针，以及一件武器。<br><br>
下面开始，按照学号，接受注射，并且拿好你们的东西，一个个离开这里！<br><br>
</font>
<form method="post" action="valid.php">
	<input type="hidden" name="mode" value="tutorial">
	<input type="button" value="{lang enterbattlefield}" onclick="window.location.href='game.php'">
</form>

{template footer}