<p><span class="lime">BOSS NPC简介</span>：</p>
此类NPC对玩家<span class="yellow">均有较大威胁</span>，在<span class="yellow">没有足够高的防御</span>的情况下，请<span class="yellow">尽可能避免和它们的接触</span>，也<span class="yellow">不要贸然攻击它们</span>，否则很可能导致自己被击杀。<br>
当然，如果成功击杀了这些NPC，它们也会掉落<span class="lime">大量有用的道具或金钱</span>。<br>
<br>
<!--{loop $ty1 $vkind $kind}-->
{template npcinfohelp}
<!--{/loop}-->
<br>
<p><span class="lime">小兵NPC 简介</span>：</p>
此类NPC对玩家基本无威胁，是玩家<span class="yellow">最主要的熟练度、经验来源，也是最主要的击杀对象</span>。每个小兵NPC掉落金钱220元，是玩家<span class="lime">主要金钱来源</span>。<br>全息幻象掉落<span class="lime">更多的金钱</span>以及<span class="lime">各系优秀的武器或强化道具</span>，往往是<span class="yellow">拉开玩家差距、建立优势乃至取得最终胜利的关键</span>。<br>
<br>
<!--{loop $ty3 $vkind $kind}-->
{template npcinfohelp}
<!--{/loop}-->
<br>
<p><span class="lime">上级小兵NPC 简介</span>：</p>
此类NPC对玩家威胁程度参差不齐，是为了契合故事背景所设计出来的。当玩家击杀它们后，也许能得到些乱七八糟的特殊道具。<br>
<br>
<!--{loop $ty4 $vkind $kind}-->
{template npcinfohelp}
<!--{/loop}-->
<br>
<p><span class="lime">佣兵NPC 简介</span>：</p>
佣兵是富家子弟召唤出的NPC。不同的佣兵实力差距很大，能召唤出什么佣兵纯靠运气。<br>
<br>
<!--{loop $ty7 $vkind $kind}-->
{template npcinfohelp}
<!--{/loop}-->
<br>
<p><span class="lime">天神NPC 简介</span>：</p>
另一个世界（原AC版）的存在，反正不会出现在这里就是了。<br>
<br>
<!--{loop $ty5 $vkind $kind}-->
{template npcinfohelp}
<!--{/loop}-->
<br>
<p><span class="lime">特殊NPC 简介</span>：</p>
不知道为何出现的NPC，如果对其的行为模式不熟悉的话尽量不要招惹。<br>
<br>
<!--{loop $ty6 $vkind $kind}-->
{template npcinfohelp}
<!--{/loop}-->
<br> 
<p><span class="lime">英雄模式NPC 简介</span>：</p>
<p>使用另一个世界的某人掉落的按钮即可召唤出它们。说白了就是不存在</p>
<!--{loop $ty8 $vkind $kind}-->
{template npcinfohelp}
<!--{/loop}-->
<br>
<p><span class="lime">深渊之民NPC 简介</span>：</p>
此类NPC在一般对玩家威胁不大但是也有部分例外的存在，这类NPC的特点是<span class="yellow">比普通小兵有着更丰富的装备和战斗模式</span>。<br>
击杀这些NPC后可以获取<span class="lime">个别</span>极为优秀的装备，在游戏中期<span class="lime">击杀它们并拾取它们的装备</span>往往是玩家中期过渡的关键。<br>
这些NPC都是由<span class="lime">玩家自荐的设计文案所创作</span>的NPC，所以战斗力参差不齐，尽管已经尽量对其做了平衡调整。<br>
<br>
<!--{loop $ty2 $vkind $kind}-->
{template npcinfohelp}
<!--{/loop}-->
<br>
<p><span class="lime">深渊灾厄NPC 简介</span>：</p>
此类NPC大多数是无理的存在，这类NPC的特点是<span class="yellow">太过扰乱游戏平衡</span>，只能通过特殊道具召唤。<br>
击杀这些NPC后可以获取<span class="lime">个别</span>极为优秀的装备，也有可能<span class="lime">只是浪费人参没有任何好处</span>。<br>
召唤这些NPC的目的无非是用来完成成就或者扰乱战场，请务必注意召唤这些NPC极有可能<span class="lime">被想好好玩游戏的玩家婊</span>。<br>
这些NPC同样都是由<span class="lime">玩家自荐的设计文案所创作</span>的NPC，不同之处在于<span class="lime">过分追求个性的设计却忽视了游戏平衡</span>所导致。<br>
<br>
<!--{loop $ty9 $vkind $kind}-->
{template npcinfohelp}
<!--{/loop}-->
<br>